
.service{
    width: 80%;
    margin: 4rem auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
        justify-content: center;
}

@media screen and (max-width: 30em){
    .service{
        grid-template-columns: 1fr;
        
    }
}
@media screen and (max-width: 35em){
    .service{
        grid-template-columns: repeat(2, 1fr) ;
        
    }
}

.service__Box{
    display: grid;
    gap: 1rem;
    text-align: center;

}
.service__Box h3{
    font-size: 16px;
    font-weight: 600;
}

.service__Box p{
    font-size: 12px;
    line-height: 1.2;
}

.image{
    display: grid;
    justify-content: center;
    align-items: center;

}

.step{
    font-weight: 700;
}