
.NFTCard{
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    
    display: grid;
}

.NFTCard__Box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    overflow: hidden;
}

.NFTCard__image{
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 /-1;
    overflow: hidden;

    transition: all .2s ease-in;
}

.NFTCard__Box:hover .NFTCard__image{
    transform: scale(1.1);
}

.NFTCard__image_pic{
    border-radius: 1rem;
}

.NFTCard__info{
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 /2;
    z-index: 100;

    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    
}

.NFTCard__time {
    text-align: end;
    font-size: 10px;
    background-color: #fff;
    padding: .4rem;
    height: 2.4rem;
    line-height: 1.2;
    border-bottom-left-radius: 15rem;
   
}

.NFTCard__time span{
    font-size: 16px;
    font-weight: 800;
}

.NFTCard__like{
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 1rem;
    cursor: pointer;
    position: relative;
    color: #fff;
    z-index: 444;
}

.NFTCard__like::before{
    content: '';
  width: 3.8rem;
  height: 1.5rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.542);
  position: absolute;
  top: .65rem;
  left: .4rem;
  z-index: -1;
}

.NFTCard__like small{
   margin-top: -.1rem;
   margin-left: .4rem;
}

.NFTCard__price{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 /-1;
    grid-row: 5 /-1;
    z-index: 1111;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
}

.NFTCard__price__icon{
    text-align: end;
    padding: .6rem 2rem;
    color: #fff;
    position: relative;
}

.NFTCard__price__icon::before{
    content: '';
    width: 1rem;
    height: 1rem;
    background-color: rgba(0, 0, 0, 0.542);
    position: absolute;
    padding: 1rem;
    z-index: -1;
    border-radius: .5rem;
    top: .14rem;
    right: 1.4rem;

}

.NFTCard__price__info{
padding-top: .5rem;
padding-left: .5rem;
background-color: #fff;
border-top-right-radius: 5rem;
}

.NFTCard__price__info p{
    line-height: 1;
    font-weight: 700;
}

.NFTCard__stock{
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: flex-end;
    text-align: center;
}

.NFTCard__stock small{
    font-size: 8px;
    font-weight: 700;
}

.NFTCard__innerBox p{
    border: 2px solid green;
    padding: .2rem .1rem;
    font-size: 10px;
    border-radius: .4rem;
    font-weight: 800;
}

.NFTCard__innerBox samp{
    font-size: 10px;
    font-weight: 700;
    background-color: #fff;
    padding-top: .5rem;
   
}

